<head>
	<title>{% if page.title!="Home" %}{{ page.title }} | {% endif %}{{ site.title }}</title> <!-- [AVIRAM] added logic "!=home" to remove "Home | " string when in homepage -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/html5shiv.js" | relative_url }}"></script><![endif]-->
	<link rel="stylesheet" href="{{ "assets/css/main.css" | relative_url }}" />
	<link rel="shortcut icon" type="image/png" href="\assets\images\favicon.png"> <!-- [AVIRAM] 2021-04-02 Added FAVICON -->
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ "assets/css/ie9.css" | relative_url }}" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ "assets/css/ie8.css" | relative_url }}" /><![endif]-->
</head>
