  
// comment styles from
// https://github.com/willymcallister/willymcallister.github.io/blob/fbc7f396fbe80186b1abc63e436ec509190c1b3a/assets/main.scss

//
// Staticman new comment form
//
input, select, textarea, label, button {
//    @extend body;
    // font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    // color: $text-color;
    // background-color: _palette(bg-alt);
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
        -moz-font-feature-settings: "kern" 1;
        -o-font-feature-settings: "kern" 1;
            font-feature-settings: "kern" 1;
    font-kerning: normal;
    // [Aviram] Again from typography.scss:
}

fieldset {
    border: none;
    padding: 0;
}

// each staticman text field is wrapped in this div
.textfield {
    max-width: 100%;
    padding: 0.5rem 0;
}

// fields except the comment field get this class too
// to keep them a reasonable size
.narrowfield {
    width: 40%; // [Aviram] Originally was 420px
}

.hp {
    display: none;
}

textarea {
    vertical-align: top;
}
.textfield__input {
    // border: 1px solid rgba(0,0,0,.12);
    padding: 4px 5px;
    width: 100%;
    // font-size: $comment-font-size; // [Aviram] Disabled
}
.notify-me, .g-recaptcha {
    padding: 0.5rem 0;
}

//
// Staticman existing comments
//
.comments {
}
.comment__new {
    padding: 0px 0px 14px 0px;
}
.comment__author {
    color: _palette(highlight);
    font-size: 120%;
}
.comment__date {
    color: _palette(fg-light);
    font-weight: normal;
    font-size: 80%;
}
.comment__body p {
    //font-size: $comment-font-size;
    margin-bottom: 15px;
}
.comment__meta {
    text-align: left;
    color: _palette(fg-light);
    font-size: 50%;
}
.comments__existing {
    padding: 0px 0px 0px 0px; /* top right bottom left*/
}
.comment {
    /* border-top: 0px solid $grey-color-light; */
    padding: 0px 0px 0px 0px;
    margin-bottom: 1em;
}
.comment.child {
    margin-left: 3em;
    opacity: 90%;
}
.comment__reply-link {
    color: _palette(fg-light);
    font-size: 180%;
    cursor: pointer;
}

// [AVIRAM] Added to solve the static banner hiding the permalink locations - THIS WORKS!
.anchorlink:target {  
    display: block;
    position: relative;
    margin-top: -65px;
    padding-top: 65px;
}

//
/* Pop-up modal window for Staticman comments */
//
.show-modal {
    overflow: auto;
    position: relative; // [Aviram] This makes the window jerk as the modal is opened to be relatively closer to the button, but need this to keep background color

    input,
    textarea,
    label {
        pointer-events: none;
        cursor: not-allowed;
        filter: alpha(opacity=65);
        box-shadow: none;
        opacity: 0.65;
    }
}

.show-modal:before { /* This is probably the background! */
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;                         // This determines the order items (modal/background) appear in the Z direction
    background-color: _palette(modal-bg);   // original: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(0.25em);          // [Aviram] add background defocus (blur)
    animation: fadein 0.25s ease-in;
}

.show-modal .modal {
    display: block;
}

.modal { /* [Aviram] This is the actual Modal message box */
    display: none;
    position: fixed;
    max-width: 750px;
    width: 90%; /* was 330px */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 0;
    z-index: 99999;
    box-shadow: 0 0 0.25em 0 rgba(0,0,0,0.15); /* box-shadow: 0 2px 2px 2px rgba(0,0,0,.25); */
    padding: 1em; /* Was 16px */
    border-radius: 2px; /* Was 5px */
    background: _palette(bg-alt); /* was white, actual color of the Modal window */
    animation: fadein .25s;
}

.modal-supporting-text {
    overflow: hidden;
    padding: 16px;
    padding-bottom: 20px;
    width: 100%;
}
.modal-title {
    margin-bottom: 0px;
    padding-left: 16px
}

.disabled {
    input,
    button,
    textarea,
    label {
        pointer-events: none;
        cursor: not-allowed;
        filter: alpha(opacity=65);
        box-shadow: none;
        opacity: 0.65;

        @include vendor('transition', (
			'transform #{_duration(menu)} ease',
			'opacity #{_duration(menu)} ease',
			'visibility #{_duration(menu)}'
		));
    }
} 

@keyframes fadein {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}

//
/* Spinner loading animation when submitting comments */
//
.disabled .loader {
    display: block;
}
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: _palette(highlight); // #ffffff;
  display: none;
  font-size: 10px;
  margin: 80px auto;
  position: fixed;      // [Aviram] was "relative"
  top: 50%;             // [Aviram]
  left: 50%;            // [Aviram]
  transform: translate(-50%, -50%);
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  z-index: 99999;                             // [Aviram] added Z to be on top of all content
}
.loader:before,
.loader:after {
  content: '';
  position: fixed; // [Aviram] was "absolute"
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

