///////////////////////
///// [AVIRAM 2021-05-18] LIGHTBOX STARTS FROM HERE:
///////////////////////

/* The Modal (background) */
.slide-modal {
  @include vendor('transition', (
    'transform #{_duration(menu)} ease',
    'opacity #{_duration(menu)} ease',
    'visibility #{_duration(menu)}'
  ));
  position: fixed; /* Stay in place */
  z-index: 99999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background: transparentize(_palette(bg), 0.05);
  backdrop-filter: blur(0.25em); // [Aviram] add background defocus (blur)
  opacity: 0; /* Hidden by default */
  pointer-events: none;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Added by function openModal() */
.slide-modal-visible {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

/* Modal Content */
.modal-content {
  position: relative; // [Aviram] this is the parent, so all children positions (the buttons) must be relative to it.
}

/* Hide the slides by default */
.mySlides {
  display: none;
  padding: 0 40px; // [Aviram] adding left-right padding to separate the image from screen borders (mostly mobile)
}

.popImage {
  max-height: 90vh;
  display: block;   // [Aviram] added to avoid the small gap in <div> below the image ("inline" setting)
}


/* Next & previous buttons */
.prevslide,
.nextslide {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 40px;
  padding: 60px 15px;
  margin-top: -75px;
  color: white;
  // font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 15px 0 0 15px;
  user-select: none;
  -webkit-user-select: none;
  border-bottom-style: none; // [AVIRAM] Used to remove the links underline emphasis
}

/* Position the "next button" to the right */
.nextslide {
  right: 0;  // [AVIRAM] used to offset the right-side button same as the padding around the image
  border-radius: 0 15px 15px 0;
}

/* On hover of next\prev buttons, add a black background color with a little bit see-through */
@media (hover: hover) { 
  .prevslide:hover,
  .nextslide:hover {
    background-color: rgba(0, 0, 0, 0.25);
  }
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  opacity: 0;
}

/* Caption text 
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}*/

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.hover-img { // [AVIRAM] Was "img.hover-shadow"
  border-radius: 7px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s; // Defines the transition time into the hover filter
}

.hover-img:hover {
  filter: brightness(110%) sepia(25%);
  background-color: pink;
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

/* The Close Button */
// [AVIRAM 2021-05-17] Close button design copied from _menu.scss
.close {
  @include vendor('transition', 'color #{_duration(transition)} ease-in-out');
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  border: 0;
  cursor: pointer;
  display: block;
  height: 4em;
  line-height: 4em;
  overflow: hidden;
  padding-right: 1.25em;
  position: absolute;
  right: 0;
  text-align: right;
  text-indent: 8em;
  top: 0;
  white-space: nowrap;
  width: 8em;
  z-index: 999992;

  &:before, &:after {
    @include vendor('transition', 'opacity #{_duration(transition)} ease-in-out');
    background-position: center;
    background-repeat: no-repeat;
    content: '';
    display: block;
    height: 4em;
    position: absolute;
    right: 0;
    top: 0;
    width: 4em;
  }

  &:before {
    background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px" viewBox="0 0 20 20" zoomAndPan="disable"><style>line { stroke: #{_palette(fg-bold)}; stroke-width: 2; }</style><line x1="0" y1="0" x2="20" y2="20" /><line x1="20" y1="0" x2="0" y2="20" /></svg>');
  }

  &:after {
    background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px" viewBox="0 0 20 20" zoomAndPan="disable"><style>line { stroke: #{_palette(highlight)}; stroke-width: 2; }</style><line x1="0" y1="0" x2="20" y2="20" /><line x1="20" y1="0" x2="0" y2="20" /></svg>');
    opacity: 0;
  }

  &:hover, &:active {
    &:after {
      opacity: 1;
    }
  }
}